
<%- include('partials/head') %>
<link href="css/home.css" rel='stylesheet'>
<body>
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main>
      <div>
        <a href="/crearProducto" class="nav-button">
            <button>Agregar Producto</button>
        </a>
    </div>
      <% products.forEach(product => { %>
        <div>
            <h3><%= product.name %></h3>
            <p><%= product.price %></p>
            <!-- Agrega más detalles del producto según sea necesario -->
            <a href="/eliminarProducto/<%= product.id %>">Eliminar</a>
        </div>
    <% }); %>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
