
<%- include('partials/head') %>
<link href="css/home.css" rel='stylesheet'>

<body>
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main>
      <h1>Lista de Productos</h1>

      <a href="/products/create" class="btn">Agregar Producto</a>
      
      <% products.forEach(product => { %>
        <div class="product">
          <h3><%= product.name %></h3>
          <p>Precio: <%= toThousand(product.price) %></p>
          <p>Descripción: <%= product.description %></p>
          <p>Imagen: <%= product.image %></p>
      
          <a href="/products/detail/<%= product.id %>" class="btn">Ver Detalles</a>
        </div>
      <% }); %>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
