<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <link href="/css/productdetails.css" rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <div class="pizza1">
        <br>
        <h1 class="producto">Pizza Margarita</h1>
        <img src="/images/margarita.jpg" alt="Pizza Margarita" class="product_img" style="align-items: center">
        <p>$2.000</p>
        <p>La pizza margarita (en italiano pizza Margherita) es una típica 
        pizza napolitana elaborada con tomate, mozzarella, (tradicionalmente se usa el Fior di latte) 
         albahaca fresca, sal y aceite. Se trata de la pizza napolitana más popular, junto con la marinera.</p>
         <a href="/cart"><button type="submit">AGREGAR AL CARRITO</button></a>
        <br>
        <br> 
    </div>
    <div>
        <form action="/home/<%= controller.id %>?_method=DELETE" method="POST" style="display: inline-flex">
            <button type="submit" class="action-button delete">ELIMINAR</button>
        </form>
        <a href="/editarProducto" class="nav-button">
          <input type="button" value="Editar">
       </a>
    </div>
    <%- include('partials/footer') %>
</body>
</html>
